html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.content {
  background-color: #111111;
  width: 100%;
  height: 100vh;
}

.pre-loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #252525;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50%;
  z-index: 2;
  color: #fff;
  text-align: center;
}

/* .count{
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
} */

.copy{
  flex: 6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px;
  line-height: 1;
}

.ml16{
  display: inline-block;
}

.ml16 .letter{
  display: inline-block;
  line-height: 1em;
}

.ml16 #ml16-dev{
  color: #666666;
}

.loader-bg{
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  z-index: -1;
}

.loader-2{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img//hero2.avif) no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
